<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <!-- v-model通常在表单项还有自定义组件中使用 -->
    <div id="app">
        精通的语言：
        <input type="checkbox" v-model="language" value="java" >java<br/>
        <input type="checkbox" v-model="language" value="php" >php<br/>
        <input type="checkbox" v-model="language" value="js" >js<br/>
        选中了{{language.join(",")}}
    </div>
    <script>
        let vm= new Vue({
            el:"#app",
            data:{
                language:[]
            }
        })

    </script>
</body>
</html>